<div class="modal fade" id="medicineModal" tabindex="-1" role="dialog" aria-labelledby="medicineModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <%= link_to "内服薬",new_prescription_medicine_path(@prescription), remote: true ,class: "btn btn-outline-info" %><br>
            <%= link_to "頓服薬",new_prescription_medicine_path(@prescription), remote: true ,class: "btn btn-outline-info" %><br>
            <%= link_to "外用薬",new_prescription_medicine_path(@prescription), remote: true ,class: "btn btn-outline-info" %><br>
        </div>
    </div>
</div>
