<div class="row">
    <%= render "users/sidemenu" %>

    <div>
    <h1>Editing Prescription</h1>

    <%= render 'form', prescription: @prescription %>

    <%= link_to 'Show', @prescription %> |
    <%= link_to "ユーザー詳細へ戻る", user_path(current_user) %>
    </div>
</div>