<div class="row m-0" >
    <%= render "users/sidemenu" %>

    <div class="col my-4 mx-auto border p-5" style="max-width:600px;" >
        <h1 class="pb-4 border-bottom text-center">新規処方登録</h1>

        <%= render 'form', prescription: @prescription %>

        <%= link_to "ユーザー詳細へ戻る", user_path(current_user) %>
    </div>
</div>