<div class="modal fade" id="prescriptionModal" tabindex="-1" role="dialog" aria-labelledby="prescriptionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h1 class="pb-4 border-bottom text-center">処方編集</h1>

            <%= render 'form', prescription: @prescriptions %>

        </div>
    </div>
</div>