<div class="sidemenu border col-md-5 col-lg-4 " style="overflow: visible;">
    <div class="my-4 card" >
        <div class="card-header">
            <h4 class=""><%= current_user.name %> 様<h4>
        </div>
        <div class="card-body position-relative">
            <% if current_user.sexes == 1 %>
                <h5 class="bg-primary text-light rounded-circle py-2 px-3 position-absolute" style="left:25px;"><span class="fa fa-male"></span></h5>
            <% else %>
                <h5 class="bg-danger text-light rounded-circle py-2 px-3 position-absolute" style="left:25px;"><span class="fa fa-female"></span></h5>
            <% end %>
            <h5 class="text-right">年齢<%= render "layouts/age" %></h5>
        </div>
    </div>

    <h6>お薬をもらったら記録をしよう！</h6>
    <%= link_to '処方追加', new_prescription_path , class: "btn btn-outline-info mb-5" %>

    
    <div id="sideM">
        <%= render "users/calendar" %>
    </div>


</div>

