<div class="row">
    <%= render "users/sidemenu" %>
    
    <div class="col">
        <h1>お薬の記録一覧</h1>
        <%= link_to "処方", prescriptions_path %>
        <% current_user.prescriptions.each do |prescription| %>
            <%= link_to prescription.start_time.strftime("%Y年%m月%d日"), prescription %>
        <% end %>

    </div>
</div>