<div class="home m-0">
    <div class="container text-light text-center">
        <h1 class="home-text p-md-5 row " style="font-size:700%; font-family: 'Amatic SC', cursive;">Medicine Manager</h1>
        <div class="home-info row text-center">
            <div class="p-5 col-lg-6">
                <h4>このアプリの利点</h4>
                <h5 class="font-weight-bold">記録</h5>
                <p>お薬手帳としてもすぐ使える！</p>
                <h5 class="font-weight-bold">管理</h5>
                <p>わざわざ申し出なくても薬剤師が服薬状況を管理！</p>
                <h5 class="font-weight-bold">連携</h5>
                <p>すぐに薬剤師に質問ができる！</p>
            </div>

            <div class="home-btn col-lg-4 py-5 rounded mx-auto my-5" style="width:270px;">
                <p class="pt-3 mb-1">いますぐはじめよう</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">新規登録</button>
                <br>
                <p class="pt-5 mb-1">すでに登録している方はこちら</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">ログイン</button>
            </div>
        </div>
    </div>
</div>

<div class="pt-5 mx-md-5 bg-light container_field">
    <h3 class="border-bottom">コンセプト</h3>
    <p>お薬は生活の一部となっており、日々の生活をサポートするものですが、薬局に来るときのタイミングでしかお薬の管理ができないことに対して作成するきっかけとなりました。</p>
</div>

<div class= "bg-light mx-md-5 container_field function-info rounded">
    <h3 class="pt-5 border-bottom">機能紹介</h3>

    <div class="row py-5 medicineMemo my-5 mx-1 slide-left rounded">
        <div class="col" >
            <div class="info1 float-right p-3 rounded" style="max-width:600px; background:rgba(255, 255, 255, 0.5);">
                <h4>お薬手帳</h4>
                <p>知っていましたか？<br>
                お薬手帳を薬剤師に見せるとお薬代は<strong class="text-danger">安く</strong>なります。<br>
                お薬手帳は医師や薬剤師への重要な情報となるので、正しい医療のために推進されております。<br>
                しかし、現実としてお薬手帳を常に持ち歩くことは困難です。そこで、このアプリはデジタルとしてスマートフォンによる記録が可能でお薬手帳として機能しております！</p>
            </div>
        </div>
    </div>

    <div class="row py-5 medicineManage my-5 mx-1 slide-right rounded">
        <div class="col">
            <div class="info2 float-left p-3 rounded" style="max-width:600px; background:rgba(255, 255, 255, 0.5);">
                <h4>アプリ内による管理</h4>
                <p>服薬は生活の一部です。<br>
                しかし適切に使うことができなく、手元に薬が余ってしまうケースがよくあり、患者様のお手持ちにある薬は年間500億円にのぼるといわれています。<br>
                今後の未来のために国の借金を減らす努力を国民は心がけなければなりませんが、たくさんある薬をいちいち数を数えて伝えるのも大変です。<br>
                そんな方々にも使いやすいように工夫されています。
                </p>
            </div>
        </div>
        
    </div>


    <div class="row py-5 medicineInfo my-5 mx-1 slide-left  rounded">
        <div class="col" >
            <div class="info3 float-right p-3 rounded" style="max-width:600px; background:rgba(255, 255, 255, 0.5);">
                <h4>お薬相談</h4>
                <p>ITが発達し、さまざまな情報が飛び交う中、本当に正しいお薬の情報を得るためにはどんな事が必要でしょうか。一つの答えとして信頼している薬剤師に相談することです。どんな時でも、どんなことでも相談できるために、お薬相談機能がこのアプリは備わっています。SNS感覚で質問するだけで、担当薬剤師が迅速に対応いたします。もちろん質問内容と返答に関しては個人情報となりますため、他の方からは閲覧できないようになっております。対面による相談が難しい場合でもお気軽にご相談できます。</p>  
            </div>
        </div>
    </div>

    
</div>

<div class="home-btn col-lg-4 py-5 rounded mx-auto my-5 text-center text-light" style="width:270px;">
    <p class="pt-3 mb-1">いますぐはじめよう</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">新規登録</button>
    <br>
    <p class="pt-5 mb-1">すでに登録している方はこちら</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">ログイン</button>
</div>