<div class="home m-0">
    <div class="container text-light">
        <h1 class="p-5 " style="font-size:80px;">Medicine Manager</h1>
        <div class="row text-center">
            <div class="p-5 col-lg-7">
                <h4>3つの利点</h4>
                <h5>記録</h5>
                <p>お薬手帳としても使える！</a>
                <h5>管理</h5>
                <p>わざわざ申し出なくても薬剤師が服薬状況を管理！</a>
                <h5>連携</h5>
                <p>すぐに薬剤師に質問ができる！</a>
            </div>

            <div class="col-lg-3 py-5">
                <p class="pt-5 mb-1">いますぐはじめよう</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">新規登録</button>
                <br>
                <p class="pt-5 mb-1">すでに登録している方はこちら</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">ログイン</button>
            </div>
        </div>
    </div>
</div>

<div class="pt-5">
    <h3>コンセプト</h3>
    <p>お薬は生活の一部となっており、日々の生活をサポートするものですが、薬局に来るときのタイミングでしかお薬の管理ができないことに対して作成するきっかけとなりました。</p>
</div>

<div>
    <h3>機能紹介</h3>
    <h4>お薬手帳</h4>
    <p>知っていましたか？お薬手帳を薬剤師に見せるだけでお薬代は安くなります。薬剤師は患者様の服薬情報を確認する義務があります。確認するために、実物を確認したり、少ない情報から予想しております。しかし、お薬手帳は見せるだけで的確な情報提供となり、薬剤師の手間が減ることによるお薬代の一部となっている管理料を抑えるができるのです。しかし、現実としてお薬手帳を常に持ち歩くことは困難です。そこで、このアプリはデジタルとしてスマートフォンによる記録が可能でお薬手帳として機能しております！</p>

    <h4>アプリ内による管理</h4>
    <p>服薬は生活の一部であり、お薬を飲み忘れるということは場合によっては呼吸をするのを忘れたと同義になることがあります。そして年間500億円にのぼるといわれている残薬は医療費削減のために医療従事者としての課題であり、今後の未来のために国の借金を減らす努力を国民は心がけなければなりません。そのために服薬状況は常に管理する必要があり、それを薬剤師に伝える必要がありますが、情報量として膨大な量となりますがこのアプリは集計機能があり、一目で服薬状況が確認でき、担当している薬剤師にわざわざ伝えなくても見ることができます。</p>

    <h4>お薬相談</h4>
    <p>ITが発達し、さまざまな情報が飛び交う中、本当に正しいお薬の情報を得るためにはどんな事が必要でしょうか。一つの答えとして信頼している薬剤師に相談することです。どんな時でも、どんなことでも相談できるために、お薬相談機能がこのアプリは備わっています。SNS感覚で質問するだけで、担当薬剤師が迅速に対応いたします。もちろん質問内容と返答に関しては個人情報となりますため、他の方からは閲覧できないようになっております。対面による相談が難しい場合でもお気軽にご相談できます。</p>

    
</div>

<div clss="mx-auto">
    <p class="pt-5 mb-1">いますぐはじめよう</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">新規登録</button>
    <br>
    <p class="pt-5 mb-1">すでに登録している方はこちら</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">ログイン</button>
</div>