<div id="newPost">
</div>
<div id="newComment">
</div>
<div class="m-5 border">
    <h1 class="p-4 border-bottom">Post index</h1>
    <div class="mx-md-5 " id="postsList" >
        <%= render "postslist" %>
    </div>
</div>