
<div class="row post-main m-0">

    <div class="m-md-5 col border" style="background: rgba(255, 255, 255, 0.5); border-radius: 10px;">
        <h1 class="p-4 border-bottom">
        お問い合わせ一覧</h1>
        <div class="mx-md-5 " id="postsList" >
            <%= render "postslist" %>
        </div>
    </div>

</div>


<div id="newPost">
</div>