// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.u_card{
    //背景を黒ずませる
    max-width:700px;
    height:200px;
}

.card-body:hover{
    text-decoration: none;
}

.pagination {
    justify-content: center;
  }