/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *  
/*
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */



@import "bootstrap";
@import "home";
@import "layouts";
@import "form";
@import "devise";
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

body{
    margin:0;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

}

main{
    overflow:hidden;
}

main {
    min-height: calc(100vh - 50px);
    padding-top: 60px;
    }

.main-bg{
    background: linear-gradient(rgba(201, 201, 201, 0.6), rgba(201, 201, 201, 0.6)),
    url("pic/背景.jpg");
    background-size: 100% 100vh;
    min-height: calc(100vh - 50px);
}

.sidemenu{
    background: rgba(240, 240, 240, 0.8);
}

footer {
    height: 50px;
    }

//ローディング画面
#loader-bg {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: #000;
        z-index: 1000000000;
    }
#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: #fff;
    z-index: 2;
}

div.field_with_errors {
    background-color: #fcc;
    padding: 5px;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .calendar2 {
        display: none;
    }
}

@media (max-width: 809px) {
    .calendar2 .table {
        font-size: 10px;
    }

    .tab-btn{
        width: 100%;
    }
    .tab-icon{
        font-size: 15px;
    }
}


@media (min-width: 768px) {
    .calendar1 {
        display: none;
    }
    .calendar2 {
        margin-left: -10px;
    }
}

/*1.フェードインアニメーションの指定*/
.medicineMemo, .medicineManage, .medicineInfo {
    opacity: 0;
} 



.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}

.fadeOutDown {
    animation-name: fadeOutDown;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
@keyframes fadeOutDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
 
/*2.上下の動きを指定*/
.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}
 
/*3.左右の動きを指定*/
.sect02{overflow: hidden;} /*横スクロールバーを隠す*/
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}

.homeLogo{
    font-size: 22px;
    margin:0;
}


// 左右の丸ボタン用
a.btn--circle {
    width: 60px;
    height: 60px;
    padding: 0;
    opacity:0.4;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  }

  a.btn--circle:hover {
    opacity:1;
  }
  
  a.btn--circle i {
    font-size: 150%;
    line-height: 60px;
    -webkit-transition: all .3s;
    transition: all .3s;
    letter-spacing: 0;
  }
  a.btn--circle:hover i {
    line-height: 55px;
    
  }

.tab-btn:hover{
    transition: all .7s;
    background-color:rgba(185, 185, 185, 0.5);
}


#page_top {
    position: fixed;
    bottom: 30px;
    right: 20px;
}
#page_top a {
    opacity: 0.8;
    background-color: #999;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
}
#page_top a:hover {
    background-color: #666;
    text-decoration: none;
}