// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{
    min-height: calc(95vh - 20px);
    //背景を黒ずませる
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/top/background.jpeg");
    background-size: cover;
}


.medicineMemo{
    min-height:300px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url("/top/medicine_memo.jpg");
    background-size: cover;
}

.medicineManage{
    min-height:300px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url("/top/服薬.jpg");
    background-size: cover;
}

.medicineInfo{
    min-height:300px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url("/top/相談.jpg");
    background-size: cover;
}

.info1, .info2, .info3{
    opacity: 0;
}

.home-btn{
    opacity: 0;
    background:rgba(41, 41, 41, 0.623);
}

body{
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}