.btn-open {
  border-radius:30%;
  display: inline-block;
  width: 180px;
  height:50px;
  text-align: center;
  background-color: #343a40;
  font-size: 20px;
  line-height: 45px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-open:after{
  width: 100%;
  height: 0;
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  background : #FFF;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: .2s;
  z-index: -1;
}
.btn-open:hover{
  color: #343a40a8;
  text-decoration:none;
}
.btn-open:hover:after{
  height: 240%;
  opacity: 1;
}
.btn-open:active:after{
  height: 340%;
  opacity: 1;
}